<template>
  <div>
    <!-- Navbar components section -->
    <TheNavbar />
    <!-- Nuxt index.vue pages section -->
    <Nuxt />
    <!-- WhatsApps components section -->
    <ProfilesTheWhatsApps />
    <!-- Footer components section -->
    <TheFooter />
  </div>
</template>
