<template>
  <!-- Footer template section -->
  <footer class="footer is-licorice">
    <div class="content info-footer has-text-centered">
      <img
        class="brands-logo"
        src="~/assets/img/beruntung.png"
        alt="Beruntung"
      />
      <div class="media-social">
        <p><strong class="color-baby-powder">#KulitLumpiaBeruntung</strong></p>
        <a href="">
          <b-button
            type="is-transparent color-baby-powder is-borderless"
            icon-left="instagram"
            size="is-large"
          ></b-button>
        </a>
        <a href="">
          <b-button
            type="is-transparent color-baby-powder is-borderless"
            icon-left="facebook"
            size="is-large"
          ></b-button>
        </a>
      </div>
      <div class="col-md-4">
        <p class="frames-developers">
          <strong class="color-baby-powder"
            >©2022 Beruntung. Proudly Created By @AnasR7</strong
          >
        </p>
      </div>
    </div>
  </footer>
</template>
