<template>
  <!-- Desktop Navbar template section -->
  <b-navbar
    id="navBackground"
    role="navigation"
    aria-label="main navigation"
    wrapper-class="container"
    :centered="true"
    :fixed-top="true"
    :transparent="true"
  >
    <!-- Navbar Brands -->
    <!-- Navbar Starts -->
    <template #start>
      <b-navbar-item id="navItem1" tag="nuxt-link" to="/about"
        >Tentang Kami</b-navbar-item
      >
      <b-navbar-item id="navItem3" tag="nuxt-link" to="/contact"
        >Kontak</b-navbar-item
      >
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <img
          id="navBrand"
          class="brands-logo"
          src="~/assets/img/beruntung.png"
          alt="Beruntung"
        />
      </b-navbar-item>
      <b-navbar-item id="navItem2" tag="nuxt-link" to="/blog"
        >Promo&News</b-navbar-item
      >
      <b-navbar-item id="navItem4" tag="nuxt-link" to="/carrer"
        >Karir</b-navbar-item
      >
    </template>
    <!-- Navbar Ends -->
  </b-navbar>
</template>

<script>
export default {
  mounted() {
    if (process.client) {
      window.addEventListener('scroll', this.handleScroll)
    }
  },

  methods: {
    handleScroll(event) {
      const navBackground = document.getElementById('navBackground')
      const navBrand = document.getElementById('navBrand')
      const navItem1 = document.getElementById('navItem1')
      const navItem2 = document.getElementById('navItem2')
      const navItem3 = document.getElementById('navItem3')
      const navItem4 = document.getElementById('navItem4')
      if (process.client) {
        const currentScrollPosition = window.scrollY

        if (currentScrollPosition >= 50) {
          // console.log('Add isActive class')
          navBackground.classList.add('isActive')
          navBrand.classList.add('isColorActive', 'isLogoActive')
          navItem1.classList.add('isColorItem')
          navItem2.classList.add('isColorItem')
          navItem3.classList.add('isColorItem')
          navItem4.classList.add('isColorItem')
        } else {
          // console.log('Remove isActive class')
          navBackground.classList.remove('isActive')
          navBrand.classList.remove('isColorActive', 'isLogoActive')
          navItem1.classList.remove('isColorItem')
          navItem2.classList.remove('isColorItem')
          navItem3.classList.remove('isColorItem')
          navItem4.classList.remove('isColorItem')
        }
      }
    },
  },
}
</script>
