<template>
  <section class="section">
    <div class="container">
      <div class="hero-body">
        <div class="columns is-align-items-center is-justify-content-center">
          <div class="column is-5-widescreen is-6-desktop mb-4">
            <figure class="image is-382x424">
              <img src="~/assets/img/about-1.jpg" alt="Description" />
            </figure>
          </div>
          <div class="column is-5-widescreen is-6-desktop">
            <h2 class="title">
              What is the main mission of mine and what i wanna do?
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
