<template>
  <!-- The Header about template section -->
  <section class="hero header">
    <div class="container">
      <div class="hero-body">
        <div class="columns">
          <div class="column mx-auto">
            <h3 class="title">Tentang Kami.</h3>
            <b-breadcrumb align="is-centered">
              <b-breadcrumb-item tag="router-link" to="/"
                >Beruntung</b-breadcrumb-item
              >
              <b-breadcrumb-item tag="router-link" to="/about" active
                >Tentang Kami</b-breadcrumb-item
              >
            </b-breadcrumb>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
