// Create new Primary colorscheme variables colorscheme from Manink color-pallete for Beruntung Website.
$beach: #eedbbe;
$light-beach: #fcf1d6;
$dark-green: #223e1b;
$green: #396630;
$yellow: #edae00;
$light-yellow: #f1c718;
// declare this variables to class.
.is-beach {
  background-color: $beach !important;
}
.is-light-beach {
  background-color: $light-beach !important;
}
.is-dark-green {
  background-color: $dark-green !important;
}
.is-green {
  background-color: $green !important;
}
.is-yellow {
  background-color : $yellow !important;
}
.is-light-yellow {
  background-color: $light-yellow !important;
}

// Create new color for better design.
$green-tea: #4FD675;
$chili-hotpepper: #e86357;
// declare this variables to class.
.is-green-tea {
  background-color: $green-tea !important;
}
.is-chili-hotpepper {
  background-color:$chili-hotpepper !important;
}

// Contemporary Color Palette
$classic-rose:#FFC4EB;
$bone:#E1DABD;
$baby-powder:#FDFEFD;
$licorice:#0D1010;
$laurel-green:#ABC798;
// declare this variables to class.
.is-classic-rose {
  background-color: $classic-rose !important;
}
.is-bone {
  background-color: $bone !important;
}
.is-baby-powder {
  background-color: $baby-powder !important;
}
.color-baby-powder {
  color: $baby-powder !important;
}
.is-licorice {
  background-color: $licorice !important;
}
.is-laurel-green {
  background-color: $laurel-green !important;
}

// borderless lines
.is-borderless {
    border-color: transparent !important;
}

// Buttons Transparent background
.is-transparent {
    background-color: transparent !important;
}
