/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import 'variables';
@import 'mixins';
@import 'templates/navigation';
@import 'templates/footer';

// body
body{
  padding-top: 0px!important;
}

// container
.container {
  padding: 0 15px;
}
@media (max-width: 1023px) {
  .container {
    max-width: 720px;
  }
}

// better breadcrumb
.breadcrumb li {
  display: inline-block;
  font-family: "Montserrat";
}
.breadcrumb li:not(:last-child) {
  display: inline-block;
  font-family: "Montserrat";
  margin-right: 0.5em;
}
.breadcrumb li.is-active a {
  color: #4FD675 !important;
}

// Header SVG
.header {
  background-image: url(https://gitlab.com/beruntung/beruntung.gitlab.io/-/blob/main/_FrontEnd/assets/img/backgrounds/header-bg.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 120px 0 150px;
}
.header .container {
  position: relative;
  z-index: 1;
}
.header-border {
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  stroke: #4FD675;
}

// Buefy Hero Header
.hero .title {
  font-family: "Croissant One";
  font-size: 3rem;
  color: $dark-green;
}
.hero .subtitle {
  font-family: "Montserrat";
  padding: 5px;
  color: black;
}
.hero .main-content {
  font-family: "Montserrat";
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
  transition-delay: 0.3s;
}
.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.89)), url("../img/buefy.png");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

// Texture Wallpapers
.has-textured {
  // background-image: url("../img/texture-bg-body.png");
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png")
}

// wallpaper background
.wallpaper-bg {
  width: 320px;
  height: 450px;
  object-fit: cover;
  border-radius: 160px;
}

// WhatsApp Link Icon Float
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.my-float{
	margin-top:14px;
}


// Import Bulma and Buefy styles
@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";
