<template>
  <section class="hero is-bone has-textured">
    <!-- The Header About components section -->
    <ProfilesAboutTheHeader />
    <!-- The About US 1 About components section -->
    <ProfilesAboutTheAboutUS1 />
  </section>
</template>

<script>
export default {
  layout: 'mainframe',
}
</script>
