<template>
  <!-- Header Hero  template Section -->
  <section class="hero is-beach is-medium has-textured">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-half">
          <h1 class="subtitle">Kulit Lumpia</h1>
          <h2 class="title">Beruntung</h2>
          <div v-if="error">
            <h1 class="subtitle is-danger">ERROR 404</h1>
          </div>
          <div v-for="profile in profiles">
            <p class="main-content">
              {{ profile.about_tittle }}
            </p>
          </div>
          <hr class="rounded" />
          <b-button
            type="is-transparent"
            icon-right="arrow-right"
            size="is-medium"
          >
            <span class="family-montserrat">Cari Tau</span>
          </b-button>
        </div>
        <div class="column is-half">
          <figure class="image is is-covered wallpaper-bg">
            <img src="@/assets/img/buefy.png" alt="" />
          </figure>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  async fetch() {
    this.profiles = await this.$axios.$get(
      'http://127.0.0.1:8000/api/v1/about/?format=json'
    )
  },
  data() {
    return {
      profiles: {},
    }
  },
}
</script>
