<template>
  <!-- Link To WhatsApp Number template section -->
  <a
    href="https://api.whatsapp.com/send?phone=6285248866999&text=Halo%20Kak%20Min%2C%20aku%20mau%20order%20dong%20"
    class="float"
    target="_blank"
  >
    <b-icon icon="whatsapp" size="is-medium" class="my-float"></b-icon>
  </a>
</template>
