.info-footer {
    margin: 0px auto;
    max-width: 1280px;
    padding: 0px 2.5rem 1.6rem;
    width: 100%;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
}
.info-footer::before {
    background-color: white;
    content: "";
    display: block;
    grid-column: 1 / -1;
    height: 1px;
    opacity: 0.3;
    width: 100%;
}
.info-footer img {
  filter:  brightness(0) invert(1);
}
.media-social {
    justify-self: end;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.5rem;
    display: inline-grid;
    grid-auto-flow: column;
    -webkit-box-pack: start;
    justify-content: start;
}
.frames-developers {
    -webkit-box-align: center;
    align-items: center;
    display: grid;
    gap: 0.5rem;
    grid-auto-flow: column;
    -webkit-box-pack: start;
    justify-content: start;
}
