// Navbar
.navbar {
  padding: 2px 0;
  transition: all 0.5s ease;
  background: transparent !important;

  &.isActive {
  background-color: $laurel-green !important;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: all 0.5s ease background-color 1000ms linear;
  }
}

// center brand
.navbar-menu {
  text-align: center;
}
.navbar-start {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}
.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar-end {
  padding: 20px;
  right: 0;
  position: absolute;
}

// Brands Logo
.brands-logo {
  max-width: 100%;
  width: 120px;
  height: 120px;
  max-height: 100% !important;
  display: inline-block;

  &.isLogoActive {
    width: 100px;
    height: 100px;
  }
}

// Navbar item
.navbar-item img {
  transition: all 0.5s ease;

  &.isColorActive {
    -webkit-transition: filter 1000ms linear;
    -moz-transition: filter 1000ms linear;
    -o-transition: filter 1000ms linear;
    -ms-transition: filter 1000ms linear;
    transition: all 0.5s ease filter 1000ms linear;
    filter:  brightness(0) invert(1);
  }
}
.navbar-item {
  margin: 0;
  padding:8px;
  font-family: "Croissant One";
  color: $dark-green !important;
}
.navbar-item a.navbar-item {
  text-transform: capitalize;
  font-family: "Croissant One";
  font-weight: 600;
}
a.navbar-item:not(.is-arrowless) {
  padding-right: 2em !important;
}
a.navbar-item {
  color: #333;
}
a.navbar-item:focus, a.navbar-item:hover {
  color: $laurel-green !important;
  background-color: transparent;
  &.isColorItem {
    color: $baby-powder !important;
  }
}

